// Base
html {
  font-size: $html-font-size;
  scroll-behavior: smooth;

  @include media-breakpoint-down(lg) {
    font-size: $html-font-size * 0.875;
  }
}

body {
  font-size: rem($font-size-base);
  line-height: rem($font-size-base * 1.5);
  font-style: normal;
}

.icon {
  display: inline-block;
  width: rem($font-size-base);
  height: rem($font-size-base);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

a[href*="mailto:"],
a[href*="tel:"] {
  white-space: nowrap;
}
