<header class="page-header">
	<div class="container">
	    Header


	    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBootstrap" aria-controls="offcanvasBootstrap">Offcanvas bootstrap</button>


	    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasBootstrap" aria-labelledby="offcanvasBootstrapLabel">
	    	<div class="offcanvas-header">
	    		<h5 class="offcanvas-title" id="offcanvasBootstrapLabel">Offcanvas with backdrop</h5>
	    		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	    	</div>
	    	<div class="offcanvas-body">
	    		<p>.....</p>
	    	</div>
	    </div>
	</div>
</header> 